@model RamRajyaCrasmibWeb.Models.M_MembersMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>M_MembersMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permanent_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permanent_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interest_Achievement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interest_Achievement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurposeOfJoining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurposeOfJoining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherNGO_Member)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherNGO_Member)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherNGOMembersDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherNGOMembersDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidityFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidityFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidtyTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidtyTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_MasterInfo.MasterText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_MasterInfo.MasterText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_MasterInfo1.MasterText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_MasterInfo1.MasterText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
